<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dev_bros.workoutplaner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="xYYWY7gc7WntAWzz6wC2aIdDMpApb19YSoOUw7Rt" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="fSWX4LnQ5eni8on5yTx1e34qSVGL0icGJDJrugzj" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".You.You"
            android:label="@string/you_mainTab"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Plan.Plan"
            android:label="@string/plan_overview"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>
